// h4{
//     color: red;
// }
#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0;
    .banner{
        &__text{
            display: flex;
            flex-direction: column;
            gap: 2vh;
        }
    }
}
#gallery_slide{
    .slider{
        display: flex;
        gap: 2vw;
        overflow:scroll;
        margin: 8vh 0;

    }
    .last_model_title{
        text-transform: uppercase;
        margin: 2vh 0;
    }
}
#bike_more_info{
    .more_info{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12vw;
    }
    p{
        font-size: 1.1em;
    }
}