header {
    padding: 3vh 0;

    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            text-decoration: none;
            font-size: 1.03em;
            text-align: center;

        }

        &__left img {
            width: 5vw;
        }

        &__center a{
            margin: 0 1vw;
            color: white;
            font-weight: 400;

            &:hover{
                color: #82B479;
            }
        }

        &__right button{
            margin: 0 1vw;
        }

        .btn_secondary{
            border: 2px solid #82B479;
            background-color: white;
            border-radius: 5px;
            padding: 0.5vh 1vw;

            &:hover{
            background-color: #82B479;
            }

            a{
                color: #82B479;

                &:hover{
                    color: #ffff;
                    }
            }
        }
        
        .btn_primary{
            border: 2px solid #82B479;
            background-color: #82B479;
            border-radius: 5px;
            padding: 0.5vh 2vw;
            
            a{
                color: #ffff;
            }
        }
    }
}