@charset "UTF-8";
/* Définition du mixin avec des paramètres */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 90%;
  margin: 3vh auto;
}

header {
  padding: 3vh 0;
}
header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navigation a {
  text-decoration: none;
  font-size: 1.03em;
  text-align: center;
}
header .navigation__left img {
  width: 5vw;
}
header .navigation__center a {
  margin: 0 1vw;
  color: white;
  font-weight: 400;
}
header .navigation__center a:hover {
  color: #82B479;
}
header .navigation__right button {
  margin: 0 1vw;
}
header .navigation .btn_secondary {
  border: 2px solid #82B479;
  background-color: white;
  border-radius: 5px;
  padding: 0.5vh 1vw;
}
header .navigation .btn_secondary:hover {
  background-color: #82B479;
}
header .navigation .btn_secondary a {
  color: #82B479;
}
header .navigation .btn_secondary a:hover {
  color: white;
}
header .navigation .btn_primary {
  border: 2px solid #82B479;
  background-color: #82B479;
  border-radius: 5px;
  padding: 0.5vh 2vw;
}
header .navigation .btn_primary a {
  color: white;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #82B479;
  margin-top: 5vh;
  padding: 3vh 0;
  height: 30vh;
}
.footer__logo img {
  width: 80px; /* Ajustez la taille du logo selon vos besoins */
}
.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5vh;
}
.footer__link a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-bottom: 2vh;
  transition: color 0.3s ease-in-out;
}
.footer__link a:hover {
  color: black;
}
.footer__hours {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
  margin-top: 1.5vh;
}
.footer .hours-column {
  text-align: center;
}

p {
  font-size: 1.03em;
}

h6 {
  font-size: 1.1em;
}

.copyright {
  text-align: center;
  margin-top: 1.5vh;
  color: white;
}

.dashboard__title {
  margin-bottom: 10vh;
}
.dashboard__head .add-user a, .dashboard__head .index-reservation a {
  background-color: #82B479;
  text-decoration: none;
  color: white;
}
.dashboard__head .add-user a:hover, .dashboard__head .index-reservation a:hover {
  color: black;
}

#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 0;
}
#banner .banner__text {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

#gallery_slide .slider {
  display: flex;
  gap: 2vw;
  overflow: scroll;
  margin: 8vh 0;
}
#gallery_slide .last_model_title {
  text-transform: uppercase;
  margin: 2vh 0;
}

#bike_more_info .more_info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12vw;
}
#bike_more_info p {
  font-size: 1.1em;
}

#login .login_form {
  width: 60%;
  margin: 3vh auto;
  padding: 7vh 5vw;
}
#login .login_form .login_btn {
  border: 1px solid #82B479;
  background-color: #82B479;
  border-radius: 5px;
  padding: 1vh 2vw;
}

.reservation {
  background-color: #575B62;
}

.reservation-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5vh;
  padding: 20px;
  background-color: #82B479;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservation-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type=date] {
  color: white;
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: #d9534f;
}

.show_reservation {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #82B479;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.show_reservation h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.show_reservation h5 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.reservation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  height: 30vh;
}

.bike_img img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.bikereservation_desc p {
  font-size: 16px;
  margin-bottom: 8px;
}

/* Style pour le message si l'utilisateur n'est pas connecté */
.show_reservation h1 {
  font-size: 24px;
  text-align: center;
  color: #d9534f; /* rouge bootstrap */
}

.show_reservation a.btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #5bc0de; /* bleu bootstrap */
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

.show_reservation a.btn:hover {
  background-color: #46b8da;
}

.bikes .card {
  --bs-card-border-color: rgba(165, 183, 162, 0.271);
}
.bikes .card-img-top {
  object-fit: contain !important;
}
.bikes__title {
  text-transform: uppercase;
}

.navigation__left a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
